﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "Recall")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/styles/css")
    <style>
        pre {
            border: 1px solid #999;
            padding: 1em;
            background-color: #FFE;
        }

        li {
            list-style-position: inside;
        }

        .sliderExample {
            width: 640px;
            padding: 2em;
            background-color: #f5f5f5;
            border: 1px solid #f0f0f0;
            margin: 2em;
        }

            .sliderExample > div {
                margin: 1em 0;
            }

        .vertical-container {
            width: 15%;
            display: inline-block;
        }

        #swatch {
            width: 100px;
            height: 100px;
            border: 1px solid black;
        }

        #red .ui-slider-range {
            background: #ef2929;
        }

        #red .ui-slider-handle {
            border-color: #ef2929;
        }

        #green .ui-slider-range {
            background: #8ae234;
        }

        #green .ui-slider-handle {
            border-color: #8ae234;
        }

        #blue .ui-slider-range {
            background: #729fcf;
        }

        #blue .ui-slider-handle {
            border-color: #729fcf;
        }
    </style>
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="navbar navbar-inverse" role="banner" ng-if=" !layout ">@* The 'layout' property is set inside the app.run(..) method on '$stateChangeSuccess' *@
        <div class="container">
            <div class="navbar-header">
                <a href="./" class="navbar-brand">Return on Investment Estimator</a>
            </div>
        </div>
    </header>

    <div id="ui-view" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        @RenderBody()
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    @Scripts.Render("~/js/charts")
    @Scripts.Render("~/js/slider")
    @Scripts.Render("~/js/app")
    @*
        Google Analytics
        ----------------
        Google recommends that this script be placed at the top of the page. Factors to consider: if you place this
        script at the top of the page, you'll be able to count users who don't fully load the page, and you'll incur
        the max number of simultaneous connections of the browser.
        https://developers.google.com/analytics/devguides/collection/analyticsjs/
    *@
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '@WebConfigurationManager.AppSettings["GoogleAnalytics:PropertyID"]', '@(Request.IsLocal ? "none" : "auto")');
    </script>
</body>
</html>