﻿@{
    PageData["title"] = "Return on Investment Estimator";
}

@*<h2>Recall Crystal: Return on Investment</h2>*@

<div ng-app="app">
    <div ng-controller="HomeCtrl" class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-md-9 control-label">
                            How much data do you store today? Choose approximate volume in terabytes (TB).
                            <div ui-slider min="0" max="5000" ng-model="volume" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2">{{volume | number:0}}TB</div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isAnnlAvgCostValid()}">
                        <div class="col-md-9 control-label">
                            What's your average annual IT infrastructure cost per terabyte of data storage?
                            <div ui-slider min="0" max="30000" ng-model="annlAvgCost" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">
                            ${{annlAvgCost | number:0 }}
                        </div>
                        <div class="col-md-1 control-label">
                            <span popover="The Industry range for IT cost per TB is $4,000 - $15,000. Choose an appropriate cost. Source: IDC and IBM"
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>

                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isAnnDataGrowValid()}">
                        <div class="col-md-9 control-label">

                            What's your current annual data growth rate?
                            <div ui-slider min="0" max="100" ng-model="annDataGrow" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{annDataGrow/100| percentage:0}}</div>
                        <div class="col-md-1 control-label">
                            <span popover="The industry range for annual data growth rate is 30% - 50% with an average of 41%. Source: IDC."
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isAvgAnnlCostDecValid()}">
                        <div class="col-md-9 control-label">

                            What's the average annual decline in the cost of storage devices (e.g. Hard Disks) your organization has seen?
                            <div ui-slider min="0" max="30" ng-model="avgAnnlCostDec" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{avgAnnlCostDec/100| percentage:0}}</div>
                        <div class="col-md-1 control-label">
                            <span popover="The industry average for annual decline in the cost of storage devices is around 20% .Source: IDC."
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isEsiRotValid()}">
                        <div class="col-md-9 control-label">

                            What percentage of your electronically stored information (ESI) is Redundant, Obsolete or Trivial (ROT)?
                            <div ui-slider min="0" max="100" ng-model="esiRot" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{esiRot/100 | percentage:0}}</div>
                        <div class="col-md-1 control-label">
                            <span popover="The industry range for ROT % is 40% - 60% with an average of 50%. Source: IBM/ESG and ViaLumina."
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isDiscSpendAvgValid()}">
                        <div class="col-md-9 control-label">

                            How much do you spend on e-Discovery each year on an average?
                            <div ui-slider min="0" max="30000" step="10" ng-model="discSpendAvg" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{discSpendAvg | shortenCurrency:"$":"M":2}}</div>
                        <div class="col-md-1 control-label">
                            <span popover="The average  company spends between $600,000 and $3 million on each e-Discovery case. Source: Duke Law
The average cost of e-discovery per GB is $18,000. Source: RAND Corporation"
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isFinesSpendAnnlValid()}">
                        <div class="col-md-9 control-label">
                            How much does your company spend annually in complying with regulatory audits and citations (including fines)?
                            <div ui-slider min="0" max="5000" step="10" ng-model="finesSpendAnnl" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{finesSpendAnnl | shortenCurrency:"$":"M":2}}</div>
                        <div class="col-md-1 control-label">
                            <span popover="The annual regulatory cost of firms with  more than 500 employees is $7,600 per employee whereas companies with less than 500 employees face an annual regulatory cost of $10,585 per employee on average. Source: Small Business Administration. Audit and other compliance related costs are additional."
                                  popover-placement="right" class="glyphicon glyphicon-exclamation-sign"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            Do you need to refresh your Retention Policy and Retention Schedules?
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                            @*<div class="btn-group">
                                    <label class="btn btn-primary" ng-model="refreshRetension" btn-radio="true">Yes</label>
                                    <label class="btn btn-primary" ng-model="refreshRetension" btn-radio="false">No</label>
                                </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="radio" ng-model="refreshRetension" style="width: 50%;" value="true" id="refreshRetensionyes" name="refreshRetension" />
                                    <label for="refreshRetensionyes">yes</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="radio" ng-model="refreshRetension" style="width: 50%;" id="refreshRetensionno" value="false" name="refreshRetension" />
                                    <label for="refreshRetensionno">no</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">{{refreshRetension == 'true' | yes_no}}</div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isJurCountValid()}">
                        <div class="col-md-9 control-label">
                            In how many different jurisdictions do you intend to implement a software solution to address information growth?
                            <div ui-slider min="0" max="5" ng-model="jurCount" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{jurCount}}</div>
                        <div class="col-md-1 control-label">
                            <span popover="Many organizations achieve their Information Governance goals by implementing solution in one or two jurisdictions. Most organizations have less than 5 jurisdictions from software implementation perspective. Actual number of jurisdictions may vary for regulatory reasons. Choose the minimum number of jurisdictions in which you must implement Recall Crystal to achieve your goals. "
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-md-9 control-label">
                            How many ECM repositories does your company have? Provide your best estimate.
                            <div ui-slider min="1" max="20" ng-model="ecmRepo" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{ecmRepo}}</div>
                        <div class="col-md-1 control-label">
                            <span popover="Your Information Governance program may not need to bring all ECM systems under governance. If you have an established Information Governance mandate in your organization, enter the number of ECMs that need to be brought under governance. If not, enter the best estimate of the maximum number of all ECM repositories you  believe should be brought under governance."
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-md-9 control-label">
                            How many physical records vendors does your company use?
                            <div ui-slider min="0" max="10" ng-model="recVendors" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{recVendors}}</div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isInfLocSpendValid()}">
                        <div class="col-md-9 control-label">
                            How much time do your employees (information workers) spend on average daily trying to locate information?
                            <div ui-slider min="0" max="100" ng-model="infLocSpend" style="width: 100%;"></div>
                        </div>
                        <div class="col-md-2 control-label">{{infLocSpend}} Min</div>
                        <div class="col-md-1 control-label">
                            <span popover="An Information Worker is a professional employed to produce, distribute, analyze, modify and support Information in your organization. All employees in your organization may not be information workers.The average time spent in locating information is between 48 and 72 minutes per day per information worker. Source: IDC Bridging the Information Worker Productivity Gap, 2012"
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row" ng-class="{'has-error': !isHourCostAvgValid()}">
                        <div class="col-md-8 control-label">
                            What's your company's average hourly cost of an employee (information worker)?
                            @* <div class="row">
                <div class="col-md-12">
                    What's your company's average hourly cost of an employee (information worker)?
                </div>
            </div>*@
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="hourCostAvg" style="width: 100%;" />
                        </div>
                        @* <div class="col-md-2">
            {{hourCostAvg}}
                                </div>*@
                        <div class="col-md-1 control-label">
                            <span popover="The industry range for hourly cost per employee (information worker) is between $25 and $80 with an average of around $40. Enter an approximate value applicable to your organization. Source: US Bureau of Labor Statistics"
                                  popover-trigger="mouseenter" class="glyphicon glyphicon-exclamation-sign"
                                  popover-placement="right"
                                  popover-append-to-body="true"
                                  aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            How many total employees (information workers only) does your organization have?
                            @* <div class="row">
                                    <div class="col-md-8">
                                        How many total employees (information workers only) does your organization have?
                                    </div>
                                </div>*@
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="employees" style="width: 100%;" />
                        </div>
                        @* <div class="col-md-2">
                                {{employees}}
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            NPV:
                        </div>
                        <div class="col-md-6">
                            <strong>{{npv | number:0}}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            IRR
                        </div>
                        <div class="col-md-6">
                            {{irr | number:2 | percentage:0}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            In <strong>{{year}}</strong> you will recover total investment of <strong>{{roi | shortenCurrency:"$":"K":0}}</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <highchart id="chart1" config="chartConfig" class="span10"></highchart>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <highchart id="chart2" config="lineChartConfig" class="span10"></highchart>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            Tax%:
                        </div>
                        <div class="col-md-6">
                            <input type="text" ng-model="tax" class="form-control" style="width: 80%;display: inline-block;"" /> %
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Hurdle Rate*:
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="hurdleRate" style="width: 80%;display: inline-block;" /> %
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <small>* Hurdle rate is the minimum acceptable rate of return on your IG project.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
